/*Header*/
.header {
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;   
    }
    to {
      opacity: 1;
    }
  }
  
.class-logo {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
    padding: 10px;
  }
  
.Logo {
    width: 200px; 
    height: auto;
    margin-right: 10px;
    animation: fadeIn 1s ease-in-out;
  }

  .menu-item {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
  }
  .menu-link:hover {
    color: #ff6f61;
  }

  /* Estilos CSS para las tarjetas */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: hsl(313, 41%, 18%);
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.titulongo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 2%;
    font-size: 30px;
}

  /* contacto */

.contacto-form {
    display: grid;
    gap: 20px;
    padding: 20px;
    background: hsl(313, 41%, 18%);
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    z-index: -1;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; 
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5px;
    transition: border-color 0.3s; 
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #5D4157; 
  }
  
  .formulario {
    background-color: #5D4157; /
    color: #fffff; 
    padding: 15px 25px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .formulario:hover {
    background-color: #A8CABA;
  }
  
  /* Estilos CSS para el mensaje flotante */
.mensaje-flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(0, 3%, 79%);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; 
}

  
  /*puntos de venta */

.class-venta {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
  
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }
  
  /*Velas*/
#velas {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; 
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
}

.contenedor-velas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.velas-container {
    width: 300px; 
}

.vela {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.vela img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.productos-container {
    flex: 1; 
    display: flex;
    justify-content: space-around;  
}


/*Carrito*/
.carrito {
    width: 300px;
    max-height: calc(100vh - 100px);
    overflow-y: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 50px;
    right: 20px; 
    z-index: 1000; 
}

#carrito {
    display: none; 
}


#carrito h2 {
    text-align: center; 
    margin-bottom: 20px; 
}


#carrito .vela {
    width: calc(50% - 10px); 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#carrito .vela img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#carrito .vela h3 {
    margin-bottom: 5px;
    text-align: center;
}

#carrito .vela p {
    margin-bottom: 5px;
    text-align: center;
}

#carrito .vela .botones {
    display: flex;
    justify-content: space-around; 
}

#carrito .vela .botones button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

#carrito .vela .botones button:hover {
    background-color: #0056b3;
}


#cerrar-carrito-manualmente {
    background-color: #f44336; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    align-self: right;
}


#cerrar-carrito-manualmente:hover {
    background-color: #d32f2f; 
}


/*Hora Actual*/
.hora-actual {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: center;
}

.hora-actual::before {
    content: "\1F551"; /* Ícono de reloj */
    margin-right: 5px;
}

/*Resumen y botones*/
#resumen {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
}

#resumen h2 {
    margin-bottom: 10px;
    text-align: center;
    
}

#resumen span {
    margin-bottom: 5px;
}

#resumen button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#resumen button:hover {
    background-color: #0056b3;
}

#botones-final {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

#botones-final button {
    margin: 0 10px; 
}

#total-compra {
    font-size: 18px;
    font-weight: bold;
}

/*Footer*/
.footer {
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
    padding: 20px 0;
    text-align: center;
    
}

a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color original del texto */
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Mantener el color original del texto */
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 40px; 
}

.frase {
    margin-top: 10px;
    font-style: italic;
    font-size: 24px; 
    color: #555; 
}

.destacado {
    font-weight: bold; 
    color: hsla(312, 100%, 50%, 0.445); 
}


@media screen and (min-width: 769px) {
    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    #velas {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around; 
        
    }
    
    .velas-container {
        width: calc(33.33% - 20px); 
        margin-bottom: 20px;
        box-sizing: border-box; 
        padding: 0 10px; 
    }
    
    .vela {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    
    .vela img {
        width: 100%; 
        height: auto; 
        border-radius: 5px;
    }
    
    .titulongo {
        font-size: 40px; 
    }

    .productos-container {
        justify-content: space-around;  
    }

    .card {
        width: calc(33.33% - 20px);
    }
}


@media screen and (max-width: 768px) {
    .Logo {
        width: 150px; 
    }

    #velas {
        flex-direction: column; 
        align-items: center; 
    }

    .velas-container {
        width: 100%; 
    }

    #carrito .vela {
        width: 100%; 
    }

    .card {
        width: 150px; 
    }

    .titulongo {
        font-size: 24px;
    }

    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .Logo {
      width: 120px;
    }
  
    .class-logo {
      margin-bottom: 10px;
    }
  
    ul {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .menu-link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .titulongo {
      font-size: 24px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    .productos-container {
      padding: 0;
    }
  
    .card {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

